<div class="head">
    <div class="iconImg"><img src="/img/weather.png" alt="Icon"></div>
    <h1 class="fs-1 fw-bold">{{title}}<small class="fs-6 fw-light">Search For Weather Forcast in Your Location</small></h1>
</div>
<div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/help">Help</a></li>
    </ul>
</div>