<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/weather.png">
    <title>Weather App</title>
        <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

</head>

<body class="bg-light">
    <main>
        <div class="main">
                {{>header}}
            <p class="fs-2 fw-bold">Weather! <small class="fs-6 fw-light">Forcast.</small></p>
            
            <form>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Location" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button class="input-group-text" id="basic-addon2">Search</button>
                </div>
            </form>
            <div class="container"></div>
            <div class="container"></div>
        </div>
        {{>footer}}
    </main>
        
    <script src="js/index.js"></script>
</body>

</html>